.box {
  height: 280px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(0px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: 1s;
}
.box:hover {
  backdrop-filter: blur(50px);
}

.Heading {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding: 0;
}

.Edition-matter {
  margin-bottom: 10px;
  height: 220px;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  color: #e6e6e6;
  opacity: 75%;
}
.line {
  width: 240px;
  height: 2px;
  background-color: #e6e6e6;

  display: block;
  margin: auto;
}
.paragraph {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.purchase {
  width: 301px;
  margin-top: 5px;
  background-color: #ed6f00;
  border: none;
  outline: none;
  border-radius: 10px 10px 10px 10px;
  color: #ebebeb;
  opacity: 70%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  font-size: 1.2rem;
  margin: 0;
  padding: 15px 0px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 500;
}
.footer-text {
  font-size: 0.6rem;
  margin-top: 24px;
  font-weight: 500;
}
